.left-nav {
    /* min-width: 5rem; */
    width: 5rem;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0;
    /* z-index: 0; */
  }

.top-nav{
    /* position: relative; */
    left: 5em;
    margin-right: 5em;
    /* z-index: 2; */
}
main{
    margin-left: 10em;
}
  /* .top{
      z-index: 3;
  } */

  #gaugeData{
    display: grid;
    grid-template-columns: repeat(3, minmax(120px, 1fr));
    grid-gap: 10px 20px;
    max-width: 30vw;
    width: auto;
  }

  #gaugeData a{
    background-color: aqua;
    border: 1px solid;
    border-radius: .3em;
    margin: 0;
  }
  